org.esbhive.node.mgt.ui/src/main/resources/ProxyConfManager.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax214="http://mgt.proxyconf.esbhive.org/xsd" xmlns:ax215="http://proxyadmin.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.proxyconf.esbhive.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http1="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax218="http://mgt.node.esbhive.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.proxyconf.esbhive.org">
    <wsdl:documentation>ProxyConfManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax216="http://proxyadmin.carbon.wso2.org/xsd" xmlns:ax219="http://mgt.node.esbhive.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.proxyconf.esbhive.org/xsd">
            <xs:import namespace="http://proxyadmin.carbon.wso2.org/xsd" />
            <xs:import namespace="http://mgt.node.esbhive.org/xsd" />
            <xs:complexType name="ProxyDataList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="proxyDataList" nillable="true" type="ax215:ProxyData" />

                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProEsb">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ESBNodes" nillable="true" type="ax219:ESBNode" />
                    <xs:element minOccurs="0" name="proxyData" nillable="true" type="ax215:ProxyData" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://proxyadmin.carbon.wso2.org/xsd">
            <xs:complexType name="ProxyData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enableSecurity" type="xs:boolean" />
                    <xs:element minOccurs="0" name="enableStatistics" type="xs:boolean" />
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean" />
                    <xs:element minOccurs="0" name="endpointKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="endpointXML" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="faultSeqKey" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="faultSeqXML" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="inSeqKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="inSeqXML" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="outSeqKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="outSeqXML" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="pinnedServers" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policies" nillable="true" type="ax215:ProxyServicePolicyInfo" />
                    <xs:element minOccurs="0" name="running" type="xs:boolean" />

                    <xs:element minOccurs="0" name="serviceGroup" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceParams" nillable="true" type="ax215:Entry" />
                    <xs:element minOccurs="0" name="startOnLoad" type="xs:boolean" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transports" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="wsdlAvailable" type="xs:boolean" />
                    <xs:element minOccurs="0" name="wsdlDef" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="wsdlKey" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsdlResources" nillable="true" type="ax215:Entry" />
                    <xs:element minOccurs="0" name="wsdlURI" nillable="true" type="xs:string" />

                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProxyServicePolicyInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="operationNS" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="Entry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.node.esbhive.org/xsd">

            <xs:complexType name="ESBNode">
                <xs:sequence>
                    <xs:element minOccurs="0" name="httpsPort" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="ipAndPort" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="synapsePort" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                </xs:sequence>

            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax217="http://mgt.proxyconf.esbhive.org/xsd" xmlns:ax220="http://proxyadmin.carbon.wso2.org/xsd" xmlns:ax221="http://mgt.node.esbhive.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.proxyconf.esbhive.org">
            <xs:import namespace="http://mgt.proxyconf.esbhive.org/xsd" />
            <xs:import namespace="http://proxyadmin.carbon.wso2.org/xsd" />
            <xs:import namespace="http://mgt.node.esbhive.org/xsd" />
            <xs:element name="getProxyDataList">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="ipandport" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProxyDataListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:ProxyDataList" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getProEsb">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyname" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getProEsbResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:ProEsb" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getKeySetResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProxy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyname" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteESB">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ipandport" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="addProxyConf">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="prodata" nillable="true" type="ax220:ProxyData" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="esbarray" nillable="true" type="ax221:ESBNode" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteESBRequest">
        <wsdl:part name="parameters" element="ns:deleteESB" />
    </wsdl:message>
    <wsdl:message name="deleteProxyRequest">
        <wsdl:part name="parameters" element="ns:deleteProxy" />
    </wsdl:message>
    <wsdl:message name="getKeySetRequest" />

    <wsdl:message name="getKeySetResponse">
        <wsdl:part name="parameters" element="ns:getKeySetResponse" />
    </wsdl:message>
    <wsdl:message name="getProEsbRequest">
        <wsdl:part name="parameters" element="ns:getProEsb" />
    </wsdl:message>
    <wsdl:message name="getProEsbResponse">
        <wsdl:part name="parameters" element="ns:getProEsbResponse" />
    </wsdl:message>

    <wsdl:message name="addProxyConfRequest">
        <wsdl:part name="parameters" element="ns:addProxyConf" />
    </wsdl:message>
    <wsdl:message name="getProxyDataListRequest">
        <wsdl:part name="parameters" element="ns:getProxyDataList" />
    </wsdl:message>
    <wsdl:message name="getProxyDataListResponse">
        <wsdl:part name="parameters" element="ns:getProxyDataListResponse" />
    </wsdl:message>

    <wsdl:portType name="ProxyConfManagerPortType">
        <wsdl:operation name="deleteESB">
            <wsdl:input message="ns:deleteESBRequest" wsaw:Action="urn:deleteESB" />
        </wsdl:operation>
        <wsdl:operation name="deleteProxy">
            <wsdl:input message="ns:deleteProxyRequest" wsaw:Action="urn:deleteProxy" />
        </wsdl:operation>
        <wsdl:operation name="getKeySet">
            <wsdl:input message="ns:getKeySetRequest" wsaw:Action="urn:getKeySet" />

            <wsdl:output message="ns:getKeySetResponse" wsaw:Action="urn:getKeySetResponse" />
        </wsdl:operation>
        <wsdl:operation name="getProEsb">
            <wsdl:input message="ns:getProEsbRequest" wsaw:Action="urn:getProEsb" />
            <wsdl:output message="ns:getProEsbResponse" wsaw:Action="urn:getProEsbResponse" />
        </wsdl:operation>
        <wsdl:operation name="addProxyConf">
            <wsdl:input message="ns:addProxyConfRequest" wsaw:Action="urn:addProxyConf" />
        </wsdl:operation>

        <wsdl:operation name="getProxyDataList">
            <wsdl:input message="ns:getProxyDataListRequest" wsaw:Action="urn:getProxyDataList" />
            <wsdl:output message="ns:getProxyDataListResponse" wsaw:Action="urn:getProxyDataListResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProxyConfManagerSoap11Binding" type="ns:ProxyConfManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deleteESB">
            <soap:operation soapAction="urn:deleteESB" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getKeySet">
            <soap:operation soapAction="urn:getKeySet" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteProxy">
            <soap:operation soapAction="urn:deleteProxy" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="getProEsb">
            <soap:operation soapAction="urn:getProEsb" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="addProxyConf">
            <soap:operation soapAction="urn:addProxyConf" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getProxyDataList">
            <soap:operation soapAction="urn:getProxyDataList" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProxyConfManagerSoap12Binding" type="ns:ProxyConfManagerPortType">

        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deleteESB">
            <soap12:operation soapAction="urn:deleteESB" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getKeySet">
            <soap12:operation soapAction="urn:getKeySet" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteProxy">
            <soap12:operation soapAction="urn:deleteProxy" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getProEsb">
            <soap12:operation soapAction="urn:getProEsb" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addProxyConf">
            <soap12:operation soapAction="urn:addProxyConf" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="getProxyDataList">
            <soap12:operation soapAction="urn:getProxyDataList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProxyConfManagerHttpBinding" type="ns:ProxyConfManagerPortType">
        <http1:binding verb="POST" />
        <wsdl:operation name="deleteESB">
            <http1:operation location="deleteESB" />
            <wsdl:input>
                <mime:content type="text/xml" part="deleteESB" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="getKeySet">
            <http1:operation location="getKeySet" />
            <wsdl:input>
                <mime:content type="text/xml" part="getKeySet" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getKeySet" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="deleteProxy">
            <http1:operation location="deleteProxy" />
            <wsdl:input>
                <mime:content type="text/xml" part="deleteProxy" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getProEsb">
            <http1:operation location="getProEsb" />

            <wsdl:input>
                <mime:content type="text/xml" part="getProEsb" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getProEsb" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addProxyConf">
            <http1:operation location="addProxyConf" />

            <wsdl:input>
                <mime:content type="text/xml" part="addProxyConf" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getProxyDataList">
            <http1:operation location="getProxyDataList" />
            <wsdl:input>
                <mime:content type="text/xml" part="getProxyDataList" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="getProxyDataList" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProxyConfManager">
        <wsdl:port name="ProxyConfManagerHttpsSoap11Endpoint" binding="ns:ProxyConfManagerSoap11Binding">
            <soap:address location="https://localhost:8243/services/ProxyConfManager.ProxyConfManagerHttpsSoap11Endpoint" />
        </wsdl:port>

        <wsdl:port name="ProxyConfManagerHttpsSoap12Endpoint" binding="ns:ProxyConfManagerSoap12Binding">
            <soap12:address location="https://localhost:8243/services/ProxyConfManager.ProxyConfManagerHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="ProxyConfManagerHttpsEndpoint" binding="ns:ProxyConfManagerHttpBinding">
            <http1:address location="https://localhost:8243/services/ProxyConfManager.ProxyConfManagerHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>