demoSample/src/main/resources/NodeListService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://mgt.node.esbhive.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://nodeListService.esbhive.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http1="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://nodeListService.esbhive.org"> 
    <wsdl:documentation>NodeListService</wsdl:documentation> 
    <wsdl:types> 
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.node.esbhive.org/xsd"> 
            <xs:complexType name="NodeManagerInterface"> 
                <xs:sequence> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="nodes" nillable="true" type="ax29:ESBNode" /> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="ESBNode"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="httpsPort" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="ipAndPort" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="synapsePort" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" /> 
                </xs:sequence> 
            </xs:complexType> 
        </xs:schema> 
        <xs:schema xmlns:ax210="http://mgt.node.esbhive.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://nodeListService.esbhive.org"> 
            <xs:import namespace="http://mgt.node.esbhive.org/xsd" /> 
            <xs:element name="unsetNodeManager"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="r" nillable="true" type="ax29:NodeManagerInterface" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="setNodeManager"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="r" nillable="true" type="ax29:NodeManagerInterface" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getNodesResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:ESBNode" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
        </xs:schema> 
    </wsdl:types> 
    <wsdl:message name="getNodesRequest" /> 
    <wsdl:message name="getNodesResponse"> 
        <wsdl:part name="parameters" element="ns:getNodesResponse" /> 
    </wsdl:message> 
    <wsdl:message name="setNodeManagerRequest"> 
        <wsdl:part name="parameters" element="ns:setNodeManager" /> 
    </wsdl:message> 
    <wsdl:message name="unsetNodeManagerRequest"> 
        <wsdl:part name="parameters" element="ns:unsetNodeManager" /> 
    </wsdl:message> 
    <wsdl:portType name="NodeListServicePortType"> 
        <wsdl:operation name="getNodes"> 
            <wsdl:input message="ns:getNodesRequest" wsaw:Action="urn:getNodes" /> 
            <wsdl:output message="ns:getNodesResponse" wsaw:Action="urn:getNodesResponse" /> 
        </wsdl:operation> 
        <wsdl:operation name="setNodeManager"> 
            <wsdl:input message="ns:setNodeManagerRequest" wsaw:Action="urn:setNodeManager" /> 
        </wsdl:operation> 
        <wsdl:operation name="unsetNodeManager"> 
            <wsdl:input message="ns:unsetNodeManagerRequest" wsaw:Action="urn:unsetNodeManager" /> 
        </wsdl:operation> 
    </wsdl:portType> 
    <wsdl:binding name="NodeListServiceSoap11Binding" type="ns:NodeListServicePortType"> 
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="getNodes"> 
            <soap:operation soapAction="urn:getNodes" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="setNodeManager"> 
            <soap:operation soapAction="urn:setNodeManager" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="unsetNodeManager"> 
            <soap:operation soapAction="urn:unsetNodeManager" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="NodeListServiceSoap12Binding" type="ns:NodeListServicePortType"> 
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="getNodes"> 
            <soap12:operation soapAction="urn:getNodes" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="setNodeManager"> 
            <soap12:operation soapAction="urn:setNodeManager" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="unsetNodeManager"> 
            <soap12:operation soapAction="urn:unsetNodeManager" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="NodeListServiceHttpBinding" type="ns:NodeListServicePortType"> 
        <http1:binding verb="POST" /> 
        <wsdl:operation name="getNodes"> 
            <http1:operation location="getNodes" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="getNodes" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="getNodes" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="setNodeManager"> 
            <http1:operation location="setNodeManager" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="setNodeManager" /> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="unsetNodeManager"> 
            <http1:operation location="unsetNodeManager" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="unsetNodeManager" /> 
            </wsdl:input> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:service name="NodeListService"> 
        <wsdl:port name="NodeListServiceHttpsSoap11Endpoint" binding="ns:NodeListServiceSoap11Binding"> 
            <soap:address location="https://localhost:8243/services/NodeListService.NodeListServiceHttpsSoap11Endpoint" /> 
        </wsdl:port> 
        <wsdl:port name="NodeListServiceHttpsSoap12Endpoint" binding="ns:NodeListServiceSoap12Binding"> 
            <soap12:address location="https://localhost:8243/services/NodeListService.NodeListServiceHttpsSoap12Endpoint" /> 
        </wsdl:port> 
        <wsdl:port name="NodeListServiceHttpsEndpoint" binding="ns:NodeListServiceHttpBinding"> 
            <http1:address location="https://localhost:8243/services/NodeListService.NodeListServiceHttpsEndpoint" /> 
        </wsdl:port> 
    </wsdl:service> 
</wsdl:definitions>
