org.esbhive.proconf.mgt/src/main/resources/ProConfManager.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.proconf.esbhive.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http1="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2402="http://mgt.proconf.esbhive.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2400="http://mgt.node.esbhive.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2404="http://proxyadmin.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.proconf.esbhive.org">
    <wsdl:documentation>ProConfManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://proxyadmin.carbon.wso2.org/xsd">
            <xs:complexType name="ProxyData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enableSecurity" type="xs:boolean" />
                    <xs:element minOccurs="0" name="enableStatistics" type="xs:boolean" />
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean" />

                    <xs:element minOccurs="0" name="endpointKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="endpointXML" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="faultSeqKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="faultSeqXML" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="inSeqKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="inSeqXML" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="outSeqKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="outSeqXML" nillable="true" type="xs:string" />

                    <xs:element maxOccurs="unbounded" minOccurs="0" name="pinnedServers" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policies" nillable="true" type="ax2404:ProxyServicePolicyInfo" />
                    <xs:element minOccurs="0" name="running" type="xs:boolean" />
                    <xs:element minOccurs="0" name="serviceGroup" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceParams" nillable="true" type="ax2404:Entry" />
                    <xs:element minOccurs="0" name="startOnLoad" type="xs:boolean" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transports" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="wsdlAvailable" type="xs:boolean" />
                    <xs:element minOccurs="0" name="wsdlDef" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="wsdlKey" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsdlResources" nillable="true" type="ax2404:Entry" />
                    <xs:element minOccurs="0" name="wsdlURI" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProxyServicePolicyInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="operationNS" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Entry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                </xs:sequence>

            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.node.esbhive.org/xsd">
            <xs:complexType name="NodeManagerInterface">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="nodes" nillable="true" type="ax2400:ESBNode" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ESBNode">

                <xs:sequence>
                    <xs:element minOccurs="0" name="ipAndPort" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2405="http://proxyadmin.carbon.wso2.org/xsd" xmlns:ax2403="http://mgt.node.esbhive.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.proconf.esbhive.org/xsd">
            <xs:import namespace="http://mgt.node.esbhive.org/xsd" />

            <xs:import namespace="http://proxyadmin.carbon.wso2.org/xsd" />
            <xs:complexType name="ProEsb">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ESBNode" nillable="true" type="ax2400:ESBNode" />
                    <xs:element minOccurs="0" name="proxyData" nillable="true" type="ax2405:ProxyData" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2401="http://mgt.node.esbhive.org/xsd" xmlns:ax2406="http://mgt.proconf.esbhive.org/xsd" xmlns:ax2407="http://proxyadmin.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.proconf.esbhive.org">

            <xs:import namespace="http://mgt.node.esbhive.org/xsd" />
            <xs:import namespace="http://mgt.proconf.esbhive.org/xsd" />
            <xs:import namespace="http://proxyadmin.carbon.wso2.org/xsd" />
            <xs:element name="unsetNodeManager">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="r" nillable="true" type="ax2401:NodeManagerInterface" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="setNodeManager">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="r" nillable="true" type="ax2401:NodeManagerInterface" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getlistResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2402:ProEsb" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHelpResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteOthers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyname" nillable="true" type="xs:string" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="deleteNode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyname" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addToOthers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="data" nillable="true" type="ax2407:ProxyData" />

                        <xs:element minOccurs="0" name="esbnode" nillable="true" type="ax2401:ESBNode" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNodeToMap">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="data" nillable="true" type="ax2407:ProxyData" />
                        <xs:element minOccurs="0" name="esbnode" nillable="true" type="ax2401:ESBNode" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getHelpRequest" />
    <wsdl:message name="getHelpResponse">
        <wsdl:part name="parameters" element="ns:getHelpResponse" />
    </wsdl:message>

    <wsdl:message name="setNodeManagerRequest">
        <wsdl:part name="parameters" element="ns:setNodeManager" />
    </wsdl:message>
    <wsdl:message name="deleteOthersRequest">
        <wsdl:part name="parameters" element="ns:deleteOthers" />
    </wsdl:message>
    <wsdl:message name="addNodeToMapRequest">
        <wsdl:part name="parameters" element="ns:addNodeToMap" />
    </wsdl:message>

    <wsdl:message name="deleteNodeRequest">
        <wsdl:part name="parameters" element="ns:deleteNode" />
    </wsdl:message>
    <wsdl:message name="unsetNodeManagerRequest">
        <wsdl:part name="parameters" element="ns:unsetNodeManager" />
    </wsdl:message>
    <wsdl:message name="addToOthersRequest">
        <wsdl:part name="parameters" element="ns:addToOthers" />
    </wsdl:message>

    <wsdl:message name="getlistRequest" />
    <wsdl:message name="getlistResponse">
        <wsdl:part name="parameters" element="ns:getlistResponse" />
    </wsdl:message>
    <wsdl:portType name="ProConfManagerPortType">
        <wsdl:operation name="getHelp">
            <wsdl:input message="ns:getHelpRequest" wsaw:Action="urn:getHelp" />
            <wsdl:output message="ns:getHelpResponse" wsaw:Action="urn:getHelpResponse" />
        </wsdl:operation>

        <wsdl:operation name="setNodeManager">
            <wsdl:input message="ns:setNodeManagerRequest" wsaw:Action="urn:setNodeManager" />
        </wsdl:operation>
        <wsdl:operation name="deleteOthers">
            <wsdl:input message="ns:deleteOthersRequest" wsaw:Action="urn:deleteOthers" />
        </wsdl:operation>
        <wsdl:operation name="addNodeToMap">
            <wsdl:input message="ns:addNodeToMapRequest" wsaw:Action="urn:addNodeToMap" />
        </wsdl:operation>

        <wsdl:operation name="deleteNode">
            <wsdl:input message="ns:deleteNodeRequest" wsaw:Action="urn:deleteNode" />
        </wsdl:operation>
        <wsdl:operation name="unsetNodeManager">
            <wsdl:input message="ns:unsetNodeManagerRequest" wsaw:Action="urn:unsetNodeManager" />
        </wsdl:operation>
        <wsdl:operation name="addToOthers">
            <wsdl:input message="ns:addToOthersRequest" wsaw:Action="urn:addToOthers" />
        </wsdl:operation>

        <wsdl:operation name="getlist">
            <wsdl:input message="ns:getlistRequest" wsaw:Action="urn:getlist" />
            <wsdl:output message="ns:getlistResponse" wsaw:Action="urn:getlistResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProConfManagerSoap11Binding" type="ns:ProConfManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getHelp">
            <soap:operation soapAction="urn:getHelp" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setNodeManager">
            <soap:operation soapAction="urn:setNodeManager" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteOthers">
            <soap:operation soapAction="urn:deleteOthers" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="addNodeToMap">
            <soap:operation soapAction="urn:addNodeToMap" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteNode">
            <soap:operation soapAction="urn:deleteNode" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="unsetNodeManager">
            <soap:operation soapAction="urn:unsetNodeManager" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="addToOthers">
            <soap:operation soapAction="urn:addToOthers" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getlist">
            <soap:operation soapAction="urn:getlist" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProConfManagerSoap12Binding" type="ns:ProConfManagerPortType">

        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getHelp">
            <soap12:operation soapAction="urn:getHelp" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="setNodeManager">
            <soap12:operation soapAction="urn:setNodeManager" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteOthers">
            <soap12:operation soapAction="urn:deleteOthers" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addNodeToMap">
            <soap12:operation soapAction="urn:addNodeToMap" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="deleteNode">
            <soap12:operation soapAction="urn:deleteNode" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="unsetNodeManager">
            <soap12:operation soapAction="urn:unsetNodeManager" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addToOthers">
            <soap12:operation soapAction="urn:addToOthers" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="getlist">
            <soap12:operation soapAction="urn:getlist" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProConfManagerHttpBinding" type="ns:ProConfManagerPortType">
        <http1:binding verb="POST" />
        <wsdl:operation name="getHelp">
            <http1:operation location="getHelp" />
            <wsdl:input>
                <mime:content type="text/xml" part="getHelp" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="getHelp" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setNodeManager">
            <http1:operation location="setNodeManager" />
            <wsdl:input>
                <mime:content type="text/xml" part="setNodeManager" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="deleteOthers">
            <http1:operation location="deleteOthers" />
            <wsdl:input>
                <mime:content type="text/xml" part="deleteOthers" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addNodeToMap">
            <http1:operation location="addNodeToMap" />

            <wsdl:input>
                <mime:content type="text/xml" part="addNodeToMap" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteNode">
            <http1:operation location="deleteNode" />
            <wsdl:input>
                <mime:content type="text/xml" part="deleteNode" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="unsetNodeManager">
            <http1:operation location="unsetNodeManager" />
            <wsdl:input>
                <mime:content type="text/xml" part="unsetNodeManager" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addToOthers">
            <http1:operation location="addToOthers" />

            <wsdl:input>
                <mime:content type="text/xml" part="addToOthers" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getlist">
            <http1:operation location="getlist" />
            <wsdl:input>
                <mime:content type="text/xml" part="getlist" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="getlist" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProConfManager">
        <wsdl:port name="ProConfManagerHttpsSoap11Endpoint" binding="ns:ProConfManagerSoap11Binding">
            <soap:address location="https://localhost:8244/services/ProConfManager.ProConfManagerHttpsSoap11Endpoint" />
        </wsdl:port>

        <wsdl:port name="ProConfManagerHttpsSoap12Endpoint" binding="ns:ProConfManagerSoap12Binding">
            <soap12:address location="https://localhost:8244/services/ProConfManager.ProConfManagerHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="ProConfManagerHttpsEndpoint" binding="ns:ProConfManagerHttpBinding">
            <http1:address location="https://localhost:8244/services/ProConfManager.ProConfManagerHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>