org.esbhive.hp.mgt/src/main/resources/ProxyConfManager.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax215="http://proxyadmin.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.proxyconf.esbhive.org" xmlns:ax212="http://mgt.proxyconf.esbhive.org/xsd" xmlns:ax213="http://mgt.node.esbhive.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http1="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.proxyconf.esbhive.org">
    <wsdl:documentation>ProxyConfManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax214="http://mgt.node.esbhive.org/xsd" xmlns:ax216="http://proxyadmin.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.proxyconf.esbhive.org/xsd">
            <xs:import namespace="http://mgt.node.esbhive.org/xsd" />
            <xs:import namespace="http://proxyadmin.carbon.wso2.org/xsd" />
            <xs:complexType name="ProEsb">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ESBNode" nillable="true" type="ax214:ESBNode" />
                    <xs:element minOccurs="0" name="proxyData" nillable="true" type="ax215:ProxyData" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://proxyadmin.carbon.wso2.org/xsd">
            <xs:complexType name="ProxyData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enableSecurity" type="xs:boolean" />
                    <xs:element minOccurs="0" name="enableStatistics" type="xs:boolean" />
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean" />
                    <xs:element minOccurs="0" name="endpointKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="endpointXML" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="faultSeqKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="faultSeqXML" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="inSeqKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="inSeqXML" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="outSeqKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="outSeqXML" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="pinnedServers" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policies" nillable="true" type="ax215:ProxyServicePolicyInfo" />
                    <xs:element minOccurs="0" name="running" type="xs:boolean" />
                    <xs:element minOccurs="0" name="serviceGroup" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceParams" nillable="true" type="ax215:Entry" />
                    <xs:element minOccurs="0" name="startOnLoad" type="xs:boolean" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transports" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="wsdlAvailable" type="xs:boolean" />
                    <xs:element minOccurs="0" name="wsdlDef" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="wsdlKey" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsdlResources" nillable="true" type="ax215:Entry" />
                    <xs:element minOccurs="0" name="wsdlURI" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProxyServicePolicyInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="operationNS" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Entry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.node.esbhive.org/xsd">
            <xs:complexType name="ESBNode">
                <xs:sequence>
                    <xs:element minOccurs="0" name="httpsPort" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="ipAndPort" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="synapsePort" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax217="http://mgt.proxyconf.esbhive.org/xsd" xmlns:ax219="http://mgt.node.esbhive.org/xsd" xmlns:ax218="http://proxyadmin.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.proxyconf.esbhive.org">
            <xs:import namespace="http://mgt.proxyconf.esbhive.org/xsd" />
            <xs:import namespace="http://proxyadmin.carbon.wso2.org/xsd" />
            <xs:import namespace="http://mgt.node.esbhive.org/xsd" />
            <xs:element name="getlistResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax212:ProEsb" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProxyDataListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax215:ProxyData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEsbNodeListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax213:ESBNode" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteNode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyname" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNodeToMap">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyData" nillable="true" type="ax215:ProxyData" />
                        <xs:element minOccurs="0" name="esbNode" nillable="true" type="ax213:ESBNode" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEsbNodeListRequest" />
    <wsdl:message name="getEsbNodeListResponse">
        <wsdl:part name="parameters" element="ns:getEsbNodeListResponse" />
    </wsdl:message>
    <wsdl:message name="addNodeToMapRequest">
        <wsdl:part name="parameters" element="ns:addNodeToMap" />
    </wsdl:message>
    <wsdl:message name="deleteNodeRequest">
        <wsdl:part name="parameters" element="ns:deleteNode" />
    </wsdl:message>
    <wsdl:message name="getlistRequest" />
    <wsdl:message name="getlistResponse">
        <wsdl:part name="parameters" element="ns:getlistResponse" />
    </wsdl:message>
    <wsdl:message name="getProxyDataListRequest" />
    <wsdl:message name="getProxyDataListResponse">
        <wsdl:part name="parameters" element="ns:getProxyDataListResponse" />
    </wsdl:message>
    <wsdl:portType name="ProxyConfManagerPortType">
        <wsdl:operation name="getEsbNodeList">
            <wsdl:input message="ns:getEsbNodeListRequest" wsaw:Action="urn:getEsbNodeList" />
            <wsdl:output message="ns:getEsbNodeListResponse" wsaw:Action="urn:getEsbNodeListResponse" />
        </wsdl:operation>
        <wsdl:operation name="addNodeToMap">
            <wsdl:input message="ns:addNodeToMapRequest" wsaw:Action="urn:addNodeToMap" />
        </wsdl:operation>
        <wsdl:operation name="deleteNode">
            <wsdl:input message="ns:deleteNodeRequest" wsaw:Action="urn:deleteNode" />
        </wsdl:operation>
        <wsdl:operation name="getlist">
            <wsdl:input message="ns:getlistRequest" wsaw:Action="urn:getlist" />
            <wsdl:output message="ns:getlistResponse" wsaw:Action="urn:getlistResponse" />
        </wsdl:operation>
        <wsdl:operation name="getProxyDataList">
            <wsdl:input message="ns:getProxyDataListRequest" wsaw:Action="urn:getProxyDataList" />
            <wsdl:output message="ns:getProxyDataListResponse" wsaw:Action="urn:getProxyDataListResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProxyConfManagerSoap11Binding" type="ns:ProxyConfManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getEsbNodeList">
            <soap:operation soapAction="urn:getEsbNodeList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNodeToMap">
            <soap:operation soapAction="urn:addNodeToMap" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteNode">
            <soap:operation soapAction="urn:deleteNode" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getlist">
            <soap:operation soapAction="urn:getlist" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProxyDataList">
            <soap:operation soapAction="urn:getProxyDataList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProxyConfManagerSoap12Binding" type="ns:ProxyConfManagerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getEsbNodeList">
            <soap12:operation soapAction="urn:getEsbNodeList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNodeToMap">
            <soap12:operation soapAction="urn:addNodeToMap" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteNode">
            <soap12:operation soapAction="urn:deleteNode" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getlist">
            <soap12:operation soapAction="urn:getlist" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProxyDataList">
            <soap12:operation soapAction="urn:getProxyDataList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProxyConfManagerHttpBinding" type="ns:ProxyConfManagerPortType">
        <http1:binding verb="POST" />
        <wsdl:operation name="getEsbNodeList">
            <http1:operation location="getEsbNodeList" />
            <wsdl:input>
                <mime:content type="text/xml" part="getEsbNodeList" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEsbNodeList" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNodeToMap">
            <http1:operation location="addNodeToMap" />
            <wsdl:input>
                <mime:content type="text/xml" part="addNodeToMap" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteNode">
            <http1:operation location="deleteNode" />
            <wsdl:input>
                <mime:content type="text/xml" part="deleteNode" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getlist">
            <http1:operation location="getlist" />
            <wsdl:input>
                <mime:content type="text/xml" part="getlist" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getlist" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProxyDataList">
            <http1:operation location="getProxyDataList" />
            <wsdl:input>
                <mime:content type="text/xml" part="getProxyDataList" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getProxyDataList" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProxyConfManager">
        <wsdl:port name="ProxyConfManagerHttpsSoap11Endpoint" binding="ns:ProxyConfManagerSoap11Binding">
            <soap:address location="https://localhost:8244/services/ProxyConfManager.ProxyConfManagerHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="ProxyConfManagerHttpsSoap12Endpoint" binding="ns:ProxyConfManagerSoap12Binding">
            <soap12:address location="https://localhost:8244/services/ProxyConfManager.ProxyConfManagerHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="ProxyConfManagerHttpsEndpoint" binding="ns:ProxyConfManagerHttpBinding">
            <http1:address location="https://localhost:8244/services/ProxyConfManager.ProxyConfManagerHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>