test/lk.uom.cabon.login.remote/src/main/resources/EsbNodeManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.esbnode.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2165="http://data.mgt.esbnode.carbon.wso2.org/xsd" xmlns:http1="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.esbnode.carbon.wso2.org">
    <wsdl:documentation>EsbNodeManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2166="http://data.mgt.esbnode.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.esbnode.carbon.wso2.org">
            <xs:import namespace="http://data.mgt.esbnode.carbon.wso2.org/xsd"/>
            <xs:element name="getEsbNodesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2165:EsbNode"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEsbNode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="esbNode" nillable="true" type="ax2165:EsbNode"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.mgt.esbnode.carbon.wso2.org/xsd">
            <xs:complexType name="EsbNode">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addEsbNodeRequest">
        <wsdl:part name="parameters" element="ns:addEsbNode"/>
    </wsdl:message>
    <wsdl:message name="getEsbNodesRequest"/>
    <wsdl:message name="getEsbNodesResponse">
        <wsdl:part name="parameters" element="ns:getEsbNodesResponse"/>
    </wsdl:message>
    <wsdl:portType name="EsbNodeManagerPortType">
        <wsdl:operation name="addEsbNode">
            <wsdl:input message="ns:addEsbNodeRequest" wsaw:Action="urn:addEsbNode"/>
        </wsdl:operation>
        <wsdl:operation name="getEsbNodes">
            <wsdl:input message="ns:getEsbNodesRequest" wsaw:Action="urn:getEsbNodes"/>
            <wsdl:output message="ns:getEsbNodesResponse" wsaw:Action="urn:getEsbNodesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EsbNodeManagerSoap11Binding" type="ns:EsbNodeManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addEsbNode">
            <soap:operation soapAction="urn:addEsbNode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEsbNodes">
            <soap:operation soapAction="urn:getEsbNodes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EsbNodeManagerSoap12Binding" type="ns:EsbNodeManagerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addEsbNode">
            <soap12:operation soapAction="urn:addEsbNode" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEsbNodes">
            <soap12:operation soapAction="urn:getEsbNodes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EsbNodeManagerHttpBinding" type="ns:EsbNodeManagerPortType">
        <http1:binding verb="POST"/>
        <wsdl:operation name="addEsbNode">
            <http1:operation location="addEsbNode"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addEsbNode"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEsbNodes">
            <http1:operation location="getEsbNodes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getEsbNodes"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEsbNodes"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EsbNodeManager">
        <wsdl:port name="EsbNodeManagerHttpsSoap11Endpoint" binding="ns:EsbNodeManagerSoap11Binding">
            <soap:address location="https://localhost:8243/services/EsbNodeManager.EsbNodeManagerHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="EsbNodeManagerHttpsSoap12Endpoint" binding="ns:EsbNodeManagerSoap12Binding">
            <soap12:address location="https://localhost:8243/services/EsbNodeManager.EsbNodeManagerHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="EsbNodeManagerHttpsEndpoint" binding="ns:EsbNodeManagerHttpBinding">
            <http1:address location="https://localhost:8243/services/EsbNodeManager.EsbNodeManagerHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
